*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/app-release.apk
app/app.iml
app/manifest-merger-release-report.txt

secret.xml
google-services.json
