<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sugar.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- SD卡存取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡存取 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序访问额外的位置提供命令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 基站定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读取手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 修改系统声音 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 读取联系人
    <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- 发短信
    <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许开机自动运行 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许唤醒锁定 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Android O 安装位置应用权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <!-- 允许程序禁用键盘锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 访问闪光灯
    <uses-permission android:name="android.permission.FLASHLIGHT" />-->

    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->

    <application
        android:allowBackup="true"
        android:persistent="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemo">
        <!-- .activities.FileDownloadActivity -->
        <!-- .activities.AudioTrackActivity -->
        <!-- .activities.AudioMp3Activity -->
        <!-- .activities.AudioRecordActivity -->
        <!-- .activities.AudioMp3ActivityByService -->
        <!-- .activities.naozhong.NaoZhongMainActivity -->
        <!-- .activities.VideoByMediaPlayerActivity -->
        <activity android:name=".activities.VideoByVideoView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sugar.demo.activities.naozhong.NaoZhongDialogActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.sugar.demo.activities.AudioMp3Activity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.VideoBySurfaceView"/>

        <service android:name="com.sugar.demo.service.AudioMp3Service" />

        <!-- 注册 receiver CallAlarm -->
        <receiver android:name="com.sugar.demo.activities.naozhong.NaoZhongReceiver"
            android:process=":remote"
            android:enabled="true"
            android:exported="true">

            <!-- 开机广播 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>


    </application>

    <!-- 得到屏幕正常的物理尺寸 -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />
</manifest>